header
	.container
		.header-top
			.panel.service
				ul.header-topmenu
					li.header-topmenu-element <span>Industrielle <br>Kennzeichnungssysteme</span>
						a(href='index.html')
					li.header-topmenu-element <span>+49 9721<br> 79398-10</span>
						a(href='tel:+4997217939810')
					li.header-topmenu-element <span>Suche</span>
					li.header-topmenu-element <span>Kunden-<br>Konto</span>
						a(href='#')
					li.header-topmenu-element <span>Warenkorb</span>
						a(href='#')
	.header-bottom
		.container
			.header.content
				span.nav-toggle
					span Toggle Nav
				ul.service-list
					li.service-element <span>Schneller Versand</span>
					li.service-element <span>Kein Mindestbestellwert</span>
					li.service-element <span>Sichere Bezahlung</span>
					li.service-element <span>Kauf auf Rechnung</span>
					li.service-element <span>Made in Germany</span>
						